
$light = #f4f4f4
$dark = #333
$faded = #777

$primary-color = #777001

$text-color = lighten(black, 17%)
$background-color = white

$link-color = lighten($primary, 25%)
$link-color-active = $primary

$layout-aside-left-width = 280px

$app-layout-drawer = #ffffff

$app-layout-drawer-logo = #f7f7f7
$app-layout-drawer-logo-border-bottom = 1px #dddddd solid

$app-layout-breadcrumb-wrapper = #ffffff

$app-drawer-menu-color = #313131
$app-drawer-menu-icon = #777777

$app-drawer-menu-active = #b5b5b5
$app-drawer-menu-active-color = #000
$app-drawer-menu-active-icon = #565656

$app-drawer-menu-item-open = #fafafa
$app-drawer-menu-item-shadow = inset 1px 1px 3px 1px rgba(0, 0, 0, 0.16), inset 1px -1px 3px 1px rgba(0, 0, 0, 0.1)
$app-drawer-menu-item-border = #b5b5b5

$field-button-background = $primary
$field-button-color = $primary-color
